# we are getting into modelling now 
## (sklearn) - Scikit Learn (A python machine learning module)
### Help us build machine learning model (Has many in-built machine learning models)
### Help us test the model (Methods to evaluate your machine learning models)
### very well designed API

### what_were_covering 
#### 1.An end-to-end Scikit-Learn worfklow
#### 2.Getting the data ready
#### 3.Choosing the right maching learning estimator/aglorithm/model for your problem
#### 4.Fitting your chosen machine learning model to data and using it to make a prediction
#### 5.Evaluting a machine learning model
#### 6.Improving predictions through experimentation (hyperparameter tuning)
#### 7.Saving and loading a pretrained model
#### 8.Putting it all together in a pipeline

## 1.An end to end Scikit learn workflow

In [13]:
import numpy as np

In [1]:
# get the data ready 
import pandas as pd 
heart_disease = pd.read_csv("data/heart-disease.csv")
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [2]:
# Create X feature matrix  (Input) axis = 1 cause its a column 
X = heart_disease.drop("target",axis = 1)
# create Y Label matrix (Output)
Y = heart_disease["target"]

# 2 Choose the right model and hyperparamets

In [9]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 100)

# we'll keep the default hyper parameters which are inside the classifier 
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'monotonic_cst': None,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

# 3. Fit the model to the training data

In [10]:
from sklearn.model_selection import train_test_split 
# split our data into trainX or trainY and testX and testY   
# 0.2 mean test size = 20 5 and 80 % will be used for train size 
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2)

In [12]:
clf.fit(X_train,Y_train);

In [15]:
# Make a prediction 
# y_label = clf.predict(np.array([0,2,3,4]))
# we can't predict on above np array as out model learned o X_train so it should get the data which look like X_train
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
64,58,1,2,140,211,1,0,165,0,0.0,2,0,2
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3
152,64,1,3,170,227,0,0,155,0,0.6,1,0,3
199,65,1,0,110,248,0,0,158,0,0.6,2,2,1
65,35,0,0,138,183,0,1,182,0,1.4,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,58,1,2,132,224,0,0,173,0,3.2,2,2,3
139,64,1,0,128,263,0,1,105,1,0.2,1,1,3
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2
202,58,1,0,150,270,0,0,111,1,0.8,2,0,3

In [16]:
y_preds = clf.predict(X_test)
y_preds

array([1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0])

In [18]:
Y_test

64     1
7      1
152    1
199    0
65     1
      ..
173    0
139    1
2      1
302    0
202    0
Name: target, Length: 61, dtype: int64

# Evaluate The Model

In [21]:
# Evaluate gthe model on the training data 
clf.score(X_train,Y_train)

1.0

In [22]:
# Evaluating on test data 
clf.score(X_test,Y_test)

0.8360655737704918

In [24]:
from sklearn.metrics  import classification_report,confusion_matrix,accuracy_score
# compare test output to our prediction output 
print(classification_report(Y_test,y_preds))

              precision    recall  f1-score   support

           0       0.78      0.78      0.78        23
           1       0.87      0.87      0.87        38

    accuracy                           0.84        61
   macro avg       0.83      0.83      0.83        61
weighted avg       0.84      0.84      0.84        61

In [26]:
# using confusion metrics 
confusion_matrix(Y_test,y_preds)

array([[18,  5],
       [ 5, 33]])

In [27]:
accuracy_score(Y_test,y_preds)

0.8360655737704918

# Step 5 Improve  a model

In [34]:
# Try different amount of n_estimators (Hyperparameters)
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying Models with {i} estimators..")
    clf = RandomForestClassifier(n_estimators = i).fit(X_train,Y_train)
    print(f"Model Accuracy on test set : {clf.score(X_test,Y_test)*100:.2f}%")
    print("")

Trying Models with 10 estimators..
Model Accuracy on test set : 75.41%

Trying Models with 20 estimators..
Model Accuracy on test set : 78.69%

Trying Models with 30 estimators..
Model Accuracy on test set : 78.69%

Trying Models with 40 estimators..
Model Accuracy on test set : 80.33%

Trying Models with 50 estimators..
Model Accuracy on test set : 78.69%

Trying Models with 60 estimators..
Model Accuracy on test set : 77.05%

Trying Models with 70 estimators..
Model Accuracy on test set : 80.33%

Trying Models with 80 estimators..
Model Accuracy on test set : 78.69%

Trying Models with 90 estimators..
Model Accuracy on test set : 81.97%

In [35]:
# 6. Save a model and load it 
import pickle 
pickle.dump(clf,open("random_forest_model_1.pkl","wb"))

In [38]:
loaded_model = pickle.load(open("random_forest_model_1.pkl","rb"))
loaded_model.score(X_test,Y_test)

0.819672131147541